.system-font,
#messageDiv {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Cantarell, "Oxygen Sans", "Helvetica Neue", sans-serif;
}
.code-font,
code {
  font-family: Consolas, 'Lucida Console', Monaco, monospace;
}
.flex,
.btn-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.btn {
  display: inline-block;
  cursor: pointer;
  color: #5c5c5c;
  border-radius: 2px;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  font-weight: 500;
  height: 25px;
  line-height: 2;
  padding: 0 8px;
  letter-spacing: .2px;
}
.btn.small {
  height: 20px;
  line-height: 20px;
}
.btn * {
  cursor: pointer;
  display: inline-block;
}
.btn:focus {
  outline: none;
}
.btn.thick {
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
}
.btn.pressed,
.btn:hover {
  text-decoration: none;
  background: #f0f0f0;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  background: #fafafa !important;
  color: #999999 !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
}
.btn.disabled .spinner,
.btn:disabled .spinner {
  color: #aaa !important;
}
.btn .spinner {
  display: inline-block;
  position: relative;
  top: 1px;
  color: inherit;
}
.btn.success,
.btn.primary {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}
.btn.success {
  background: #46c85c;
  color: #fefffe;
  border-color: #46c85c;
}
.btn.success.pressed,
.btn.success:hover {
  background: #40b855;
  border-color: #40b855;
}
.btn.transparent {
  border: 1px solid #cccccc;
  background: none;
  font-weight: 400;
}
.btn.transparent:hover {
  border-color: #999999;
}
.btn.primary {
  background: #3069da;
  color: #fff;
  border: 1px solid #3069da;
  transition: background .1s ease;
}
.btn.primary:hover {
  background: #2e64cf;
}
.btn-group {
  display: inline-block;
}
.btn-group .btn {
  margin: 0 !important;
  border-radius: 0;
  border-right-width: 0;
}
.btn-group > :first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.btn-group > :last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right-width: 1px;
}
.dropdown-btn-container {
  display: inline-block;
  position: relative;
}
.dropdown-btn-container.open .dropdown-btn-list {
  display: block;
}
.dropdown-btn-container.open .toggleable.btn {
  background: #dadada;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.07);
}
.dropdown-btn-list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 0px;
  background: #fff;
  border: 1px solid #d9d9d9;
  width: 149px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 2px 0;
}
.dropdown-btn-list * {
  cursor: pointer;
}
.dropdown-btn-list hr {
  margin: 2px 0;
}
.dropdown-btn-list .dropdown-item,
.dropdown-btn-list > div,
.dropdown-btn-list > a {
  width: 100%;
  display: block;
  padding: 7px 7px;
  color: #333;
}
.dropdown-btn-list .dropdown-item i,
.dropdown-btn-list > div i,
.dropdown-btn-list > a i {
  width: 15px;
  display: inline-block;
  text-align: center;
}
.dropdown-btn-list .dropdown-item.disabled,
.dropdown-btn-list > div.disabled,
.dropdown-btn-list > a.disabled {
  color: #b8b8b8;
}
.dropdown-btn-list .dropdown-item:hover,
.dropdown-btn-list > div:hover,
.dropdown-btn-list > a:hover {
  text-decoration: none;
}
.dropdown-btn-list .dropdown-item:hover:not(.disabled),
.dropdown-btn-list > div:hover:not(.disabled),
.dropdown-btn-list > a:hover:not(.disabled) {
  background: #3069da;
  color: #fff;
}
.dropdown-btn-list > div,
.dropdown-btn-list .dropdown-item {
  padding: 8px 15px;
  border-bottom: 1px solid #d9d9d9;
}
.dropdown-btn-list > div:last-child,
.dropdown-btn-list .dropdown-item:last-child {
  border: 0;
}
.dropdown-btn-list > div .title,
.dropdown-btn-list .dropdown-item .title {
  font-weight: 600;
  margin-bottom: 5px;
}
.dropdown-btn-list > div .title i,
.dropdown-btn-list .dropdown-item .title i {
  margin-right: 2px;
}
.dropdown-btn-list > div:hover .desc,
.dropdown-btn-list .dropdown-item:hover .desc {
  color: #fff;
}
.btn-bar .btn {
  border-radius: 0;
}
.btn-bar .btn:not(:first-child) {
  border-left: 0;
}
a.btn span {
  vertical-align: baseline;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.vertical-scroll {
  overflow-y: scroll;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
}
.dropdown-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
}
.overflow-ellipsis,
#messageDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html {
  background: #fff;
}
#messageDiv {
  margin: 20px 5px 15px;
  font-size: 16px;
}
#promptInput {
  width: 460px;
  padding: 5px 6px;
  font-size: 16px;
  margin: 5px;
}
.actions {
  margin: 10px 4px;
  text-align: right;
}
.btn {
  width: 75px;
}
